name: Docker Image CI

on: [push]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
      - name: Docker meta
        id: docker_meta
        uses: crazy-max/ghaction-docker-meta@v1
        with:
            images: ghcr.io/dockminer/gminer
            tag-sha: true
            tag-match: v(.*)
            tag-match-group: 1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1 
        with:
            registry: ghcr.io
            username: ${{ secrets.CR_USERNAME }}
            password: ${{ secrets.CR_PAT }}
      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
            push: true
            tags: ${{ steps.docker_meta.outputs.tags }}
